<div class="row listbg">    
  <div style="clear:both;"></div>
  <div class="col-xs-12">
    <div class="row list">
        <div class="date">
            <p class="day">{{today}}, {{daymonth}} {{month}}</p>
            <p  class="res">Total: {{toDoSerivce.totel}} Remaining: {{toDoSerivce.remaining}} Done: {{toDoSerivce.done}} </p>
        </div>
      <div class="col-xs-6 col-xs-offset-3"> 
        <input type="text" 
               id ="serch" 
               class="form-control search" 
               placeholder= "Search Todo"
               [(ngModel)]="filterToDo">
      </div>
    </div>
    <ul class="row list" >
      <div class="col-md-3 col-sm-6-col-xs-12">
        <li>
          <a class = "adding">   
            <app-do-edit *ngIf="toDoSerivce.show; else plus"></app-do-edit>
            <ng-template #plus>
              <i (click)="onClickPlus()" class="fas fa-plus plusuicon"></i>
            </ng-template>
          </a>
        </li>
      </div>
      <div *ngFor = "let toDo of toDoList | filter: filterToDo:['doItem']" [@list1]
           class="col-md-3 col-sm-6 col-xs-12">
        <li *ngIf="toDo.finish === ''; else finishedToDo">
          <a [ngClass]="{'even': toDoList.indexOf(toDo) % 2 === 0 && toDoList.indexOf(toDo)%3 !==0 ,
                         'odd': toDoList.indexOf(toDo) % 2 !== 0 && toDoList.indexOf(toDo)%3 !==0,
                         'trh': toDoList.indexOf(toDo)%3 === 0 }">
            <i (click)="onDeleteToDo(toDoList.indexOf(toDo))"
                class="fas fa-times-circle"></i>
            <i (click)="onFinishToDo(toDoList.indexOf(toDo))" 
                class="fas fa-check-circle"></i>
              <br>
            <h2>{{toDo.doItem}}</h2>
            <p> Time spent: {{toDo.expectedProgress}}%</p>
          </a>
        </li>
        <ng-template #finishedToDo>
            <li class="itemdone">
              <a style="background-color:rgb(180, 244, 247)"
                 [ngClass]="{'even': toDoList.indexOf(toDo) % 2 === 0,
                            'odd': toDoList.indexOf(toDo) % 2 !== 0 }">
                <i (click)="onDeleteToDo(toDoList.indexOf(toDo))"
                    class="fas fa-times-circle">
                </i>
                <br>
               <p class="finish-p">{{toDo.doItem}}</p>
               <p>DONE!</p>
              </a> 
            </li>
        </ng-template>        
    </div>
    </ul>
  </div>
</div>
