label, input, button, .help-block{
    font-family: 'Lobster', cursive;
}

.main{
    height: 500px;
}

input.ng-invalid.ng-touched{
    border: 1px solid #0aa0a0;
}

input, label{
    font-family: "Reenie Beanie",arial,sans-serif;
    font-size: 1.5em;
}

.help-block{
    color:#0aa0a0;
}